/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.material-icons {
    font-size: 16px !important;
}

.page-body .select2-drop .select2-search input {
    padding      : 10px 12px !important;
    padding-right: 30px !important;
}

.select2-search input {
    padding           : 4px 20px 4px 5px !important;
    font-size         : 1em !important;
    border            : 1px solid #aaa !important;
    border-radius     : 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow        : none !important;
    background        : #fff url(select2.png) no-repeat 100% -22px !important;
    background        : url(select2.png) no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee)) !important;
    background        : url(select2.png) no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%) !important;
    background        : url(select2.png) no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%) !important;
    background        : url(select2.png) no-repeat 100% -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0 !important;
}

.page-body .select2-container .select2-choice .select2-arrow b:before {
    font-family: 'Material Icons' !important;
    content    : "\e5cf" !important;
}

.page-body .select2-drop .select2-search:after {
    font-family: 'Material Icons' !important;
    content    : "\e8b6" !important;
}

.dataTables_wrapper>div input[type="text"],
.dataTables_wrapper>div input[type="search"],
.dataTables_wrapper>div input[type="number"] {
    padding  : 6px 10px !important;
    font-size: 12px !important;
}